.containerLog{
  margin: 0;
  padding: 0;
  background-color: rgb(244, 162, 97);
  color: white;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.welcome{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
  width: 50%;
  padding: 10%;
  text-align: left;

}
.log{
  width: 50%;
  display: flex;
  justify-content: center;
  vertical-align: middle;

}

.imagenLogo{
  width: 100px;
  height: 90px;
}


.login {

    text-align: center;
    background-color: white;
    max-width: 700px;
    min-width: 500px;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 6px 5px 16px -5px #000000;
    margin: auto;
    color: rgb(59, 59, 59);
  
  }
.row{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    width: 50%;
    height: 60px;
    margin: auto;
    background-image: url(../media/SDblanco.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.botonera{
    margin-top: 5%
}

  .col-6{
      width: 40%;
  }

  a{
      text-decoration: none;
      font-size: 1;
      font-weight: 600;
      color: inherit;
  }
  a:hover{
      color: rgb(244, 162, 97)
  }

  
  .container{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%
  }
  
  p{
    margin:0;
    padding: 0;
    text-align: left;
  }
  

  
  .inputLogin{
    padding: 5px;
    border-radius: 5px;
    border-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  
  }
  
  .banner{
    margin-bottom: 10%;
  }
  
  .boton{
    background-color: rgb(244, 162, 97);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    color: white;
    margin: auto;
    text-align: center;
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: 5%
  }
  .boton:hover{
    background-color:rgb(231, 111, 81);
  }