body {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.navbar1 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  width: 60px;
}

.Button {
  margin-inline-end: 10px;
  border: 0px;
  padding: 8px 3px;
  border-radius: 10px;
  font-weight: lighter;
}
.Button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.Button1 {
  background-color: hsl(23, 100%, 95%);
  color: #07262c;
  box-shadow: 1px 1px #489fb5;
}

.Button1:hover {
  box-shadow: 1px 1px #ffa62b;
}

.head1 {
  margin: 15px;
  text-align: right;
}

.head1 li {
  display: inline;
  text-align: center;
  text-decoration: none;
  margin: 5px;
}

.buscar1 {
  display: flex;
  justify-content: center;
  border: 1px solid #489fb5;
  padding: 5px;
  border-radius: 10px;
  background-color: width;
}

.buscar1:focus-within {
  border: 1.5px solid #ffa62b;
}

.buscar1 > input {
  outline: none;
  border: 0px;
}

.contenedor {
  margin: 10px auto;
  width: 1000px;
}

table {
  background-color: #ede7e3;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: solid 1px #16697a;
  padding: 5px;
}

tr:hover td {
  background-color: #ffa62b;
  color: antiquewhite;
  cursor: pointer;
}

thead {
  border-bottom: solid 5px #16697a;
  background-color: #ffa62b;
  color: #103e47;
}
