form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    padding: 5px;
    border-radius: 4px;
    border-color: white;
}

input:focus{
    border: 0px;
}

.routesProductOpctionsContainer{
  display: flex; 
  align-items: unset;  
  justify-content: space-around; 
  padding: 0vh; 
  padding-top: 17vh; 
}

.botonOpcion{
    height: 20vh;
}
.botonOpcion:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.texto{
    color: #264653;
    margin-top: 20px;
    text-align: center;
}

.cabezaVentas{
    margin-inline: 5%;
    display: flex;
    justify-content: space-evenly;
    padding: 7px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.27);
}

.botones{
    border: 0px;
    padding: 7px;
    border-radius: 4px;
    font-weight: bolder;
    color: white;

    font-size: 0.8rem;
    background-color: #E76F51;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.27);
    text-align: center;
  }
  .botones:hover{
    cursor: pointer;
    background-color: #F4A261;
    color: black;
  }
  


.botonesVentas{
    display: flex;
    justify-content: space-around;

}
.tablaNuevaVenta{
  padding: 5%;
}

.tituloVenta{
  text-align: center;
  color: #264653;
}

.iconosVentas{
  font-size: 5rem;
  color: #264653;
}

.menuVenta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-items: center;
  border-radius: 4px;
  height: 25vh;
  width: 25vw;
  padding: 25px;
  box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.27);
}

.menuVenta:hover{
  background-color: #F4A261
}