body{
    margin: 0px;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navBar1{
    display: flex;
    justify-content: space-between;
    padding: 7px;
}
.navBar2{
    display: flex;
    justify-content: space-around;
    padding: 4px;
}

.piePagina{
    display: flex;
    justify-content: space-evenly;
}

.logo{
    height: 50px;
}